html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

nav .nav{
    color: #9d9d9d;
    font-size: 12px;
    height: 50px;
    display: flex;
    align-items: center;
    float: right;
}

nav .nav li{
    display: flex;
    align-items: center;
}
nav .nav li div{
    margin: 0 0 0 10px;
}

.jumbotron {
    background: url(img/bg.jpg) 100% 45% no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
    color: #fff;
}

.jumbotron:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.content {
    padding-top: 30px;
}

.map {
    position: relative;
    width: 100%;
    height: 0;
    transition: all .2s ease-in;
    overflow: hidden;
}

.map.visible {
    height: 400px;
}

.map iframe {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: none;
}

.map .powered-by{
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 3px 8px;
    border-top-left-radius: 4px;
    font-size: 12px;
}

/* Poll */
.poll #OPP-poll-question-text{
    font-family: 'Arial', sans-serif !important;
}

.poll .OPP-div-around-poll{
    padding: 0 !important;
}

.poll .OPP-choiceBar{
    height: 15px !important;
    border-radius: 3px;
    overflow: hidden;
}

.poll .OPP-result-summary{
    font-size: 12px !important;
    color: #5d5d5d !important;
    padding-top: 10px !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    line-height: 1.3;
    background-color: #f5f5f5;
}

footer .container{
}

footer .col{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

footer .author{
    border-radius: 4px;
    width: 42px;
    height: 42px;
    margin: 0 10px 0 0;
}

footer .source-col{
    justify-content: flex-end;
    align-items: center;
    min-height: 42px;
}

footer .sharethis-inline-share-buttons{
    margin: 0 10px 0 0;
}

footer #st-1.st-has-labels .st-btn,
footer #st-1 .st-btn > span{
    min-width: 0;
}

footer #st-1.st-has-labels .st-btn.st-remove-label,
footer #st-1.st-has-labels .st-btn.st-remove-label > span{
    display: inline-block !important;
}

footer .source img{
    width: 32px;
}

@media (max-width: 768px){
    .navbar-header{
        float: left;
    }

    .jumbotron{
        padding-top: 40px;
    }

    footer .source {
        justify-content: flex-start;
    }
}